<div class="starter-template" ng-controller="MovieCtrl">
  <h1>Movies</h1>
  <p class="lead">Let's all go to the movies</p>
    <div>
    <ul class="item-list">
      <li ng-repeat="movie in movies">
        <h1>{{movie.name}}</h1>
        <span>Directed By: {{movie.director}}</span>
      </li>
    </ul>
  </div>
</div>